html,
body {
  padding: 0;
  margin: 0;
  background: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
p,
ul {
  margin: 0;
}
h1 {
  font-family: bressay, serif;
  font-style: normal;
  font-weight: 700;
}
ul {
  padding: 0;
  list-style: none;
}
button {
  cursor: pointer;
}
.login-nav {
  display: flex;
  justify-content: space-between;
}
.login-nav .close {
  margin: 0 50px;
}
.container-fluid.login {
  margin-top: -130px;
}
.container-fluid.login .row {
  display: flex;
  align-items: center;
}

.container-fluid.login .row .col-md-6 img {
  height: 100vh;
  width: 100%;
}

.container-fluid.login .row .form-container {
  display: flex;
  justify-content: center;
}
.container-fluid nav {
  padding: 30px 50px;
}
.login-form {
  height: 400px;
  border-radius: 10px;
  opacity: 1;
  padding: 50px 30px;
}
.login-form form {
  display: grid;
}
.login-form div {
  display: grid;
}

.login-form h1 {
  font-size: 34px;
}
.login-form input {
  background: transparent;
  height: 45px;
  border: 1px solid #222222;
  border-radius: 7px;
}
.login-form .checkbox {
  height: 14px;
  margin-top: 5px;
  font-size: 14px;
  width: auto;
}
.login-form label {
  margin-top: 20px;
}
.login-form .signin-button {
  margin-top: 30px;
  color: white;
  background: black;
  font-size: 16px;
}
.template.admin,
.template.run-simulation,
.template.details {
  margin: 3% 10%;
}
.template {
  margin: 3% 16%;
  overflow: hidden;
}
.template .row {
  display: flex;
  /* background: #dcdada;
  border-radius: 10px; */
  padding: 40px;
  gap: 20px;
  flex-wrap: wrap;
}
.template .row input,
select,
button {
  width: 450px;
  height: 60px;
  border-radius: 10px;
  background: transparent;
  border: 1px solid;
  padding: 0 10px;
}
.alert-message {
  color: red;
  margin: 3px 1px;
}

.template .row .form-content {
  flex-direction: column;
  display: flex;
}
.template .row #comment {
  height: 100px;
}
.template .create-template,
.submit {
  background: #222222 !important;
  border-radius: 7px;
  color: white;
  width: 280px !important;
  font-size: 16px;
  cursor: pointer;
}
.edit-template .create-template,
.edit-template .cancel {
  margin-left: 10px;
}
.template .cancel {
  width: 160px;
  font-size: 16px;
  border-radius: 7px;
}
.col-md-6 {
  width: 48% !important;
}
.template h1 {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 32px;
}
.isDB-logo {
  padding: 40px;
}
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px;
  padding: 20px;
  background: #4e4e4e;
  border-radius: 10px;
  color: white;
  height: 100px;
}
.nav-container .nav-right {
  display: flex;
  align-items: center;
  gap: 40px;
}
.menu,
.notification {
  cursor: pointer;
}
.menu:hover,
.notification:hover {
  background: gray;
  border-radius: 50%;
  padding: 15px;
}
.menu-dropdown,
.menu-list,
.notification-list {
  display: none;
  background: black;
  padding: 20px;
  position: absolute;
  z-index: 1;
  border-radius: 10px;
}
.menu-dropdown {
  top: 115px;
  right: 60px;
}
.menu-list,
.notification-list {
  top: 100px;
  right: 15%;
}
.nav-user:hover + .menu-dropdown,
.menu-dropdown:hover,
.menu:hover + .menu-list,
.menu-list:hover,
.notification:hover + .notification-list,
.notification-list:hover {
  display: block;
}
.menu-dropdown li,
.menu-list li {
  opacity: 0.7;
  margin-bottom: 25px;
}
.menu-dropdown li {
  max-width: 180px;
}
.menu-dropdown li a,
.menu-list li a {
  text-decoration: none;
  color: white;
}
.menu-dropdown li:active,
.menu-dropdown li:hover,
.menu-list li:hover,
.menu-list li:active {
  opacity: 1;
}
.nav-links ul {
  display: flex;
  gap: 10px;
  margin-bottom: 0;
  padding-left: 0;
}
.nav-user,
.nav-user .user {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.nav-user .username h4 {
  font-size: 16px;
  margin: 5px 0;
}
.nav-user .username p {
  font-size: 14px;
  color: #d3d3d3;
}
.nav-user p {
  margin-bottom: 0;
}
.nav-links {
  padding: 10px;
  background: #3e3e3e;
  border-radius: 12px;
}
.nav-links li {
  padding: 10px 30px;
  border: 1px solid;
  border-radius: 4px;
  opacity: 0.66;
}
.nav-links li:active,
.nav-links li:hover {
  opacity: 1;
}
.menu-dropdown .logout {
  text-align: center;
  border: 1px solid;
  border: 1px solid #4e4e4e;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 0;
}
.notification-list {
  width: 350px;
  overflow-y: scroll;
  height: 400px;
}

.notification-list .notification-heading h4 {
  font-size: 18px;
}
.notification-list .notification-details {
  border-bottom: 1px solid #adadad;
  padding-bottom: 15px;
}
.notification-list .notification-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: -10px;
}
.notification-list .notification-info h5 {
  margin: 10px;
  font-weight: bold;
}
.notification-list .notification-info p {
  color: #adadad;
}
.notification-list .notification-para {
  font-size: 14px;
}
label {
  margin-bottom: 5px;
  font-weight: bold;
}
.template .user-profile {
  background: #dcdada;
  border-radius: 10px;
  padding: 40px;
}
.template .profile {
  display: flex;
  align-items: center;
  gap: 20px;
}
.template .choose-file {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.template .choose-file button {
  border: 1px solid #222222;
  border-radius: 5px;
  width: 110px;
  height: 35px;
}
.template .file-format p {
  font-size: 14px;
}
.template .user-info {
  margin-top: 20px;
  display: grid;
  gap: 20px;
}
.template .user-info .name,
.user-name,
.password {
  display: flex;
  align-items: baseline;
}

.template .user-info .user-name {
  gap: 40px;
}
.template .user-info .name {
  gap: 76px;
}
.template .user-info .password {
  gap: 50px;
}
.template .user-info .password button {
  margin-left: -10px;
  width: 69px;
  height: 35px;
  border: 1px solid #222222;
  border-radius: 5px;
}
.template .scenario {
  display: grid !important;
}
.template .change-password {
  display: flex;
  align-items: baseline;
  gap: 10px;
}
.modal-header {
  border-bottom: none !important;
}
.modal-details {
  padding: 0 20px 20px;
  display: grid;
  gap: 20px;
}
.save,
.comment {
  display: grid;
}
.save input {
  height: 50px;
  border: 1px solid #222222;
  border-radius: 7px;
}
.comment input {
  height: 80px;
  border: 1px solid #222222;
  border-radius: 7px;
}
.modal-button {
  display: flex;
  padding: 0 36px 40px;
  gap: 20px;
}
.modal-button button {
  width: 167px;
  height: 47px;
  border-radius: 5px;
  font-size: 14px;
}

.modal.show .modal-dialog {
  margin-top: 200px;
}
.modal-content {
  border-radius: 10px;
}
.modal-button .btn-primary,
.modal-button .btn-primary:hover {
  background: #dcdada;
  color: black;
  border: 1px solid #222222;
}
.modal-button .btn-primary:hover {
  opacity: 0.7;
}

.template .head {
  display: flex;
  justify-content: space-between;
}
.template .head button {
  width: 190px;
  height: 47px;
  color: white;
  background: #222222;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.template .head button a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
}

.template .total-template {
  font-size: 14px;
  font-weight: 600;
}
.template .filter {
  font-size: 12px;
  margin-top: 20px;
  opacity: 0.5;
}
.template .react-tabs__tab-list {
  gap: 40px;
  display: flex;
  border-bottom: 1px solid #adadad;
}
.react-tabs__tab {
  border: none !important;
  color: #6f6d6d;
  padding: 6px;
}
.react-tabs__tab--selected {
  background: none !important;
  border-bottom: 3px solid black !important;
  font-weight: bold;
}
.react-tabs__tab--selected::after {
  border-bottom: 3px solid black !important;
}
.template .filterArea {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.react-tabs__tab-list {
  border-bottom: none;
}
.react-tabs__tab:active {
  border-bottom: 3px solid black !important;
}
.template .searchFilter {
  display: flex;
  align-items: center;
  gap: 5px;
  background: #ffffff;
  border: 1px solid #d3d3d3;
  border-radius: 21px;
  width: 338px;
  height: 42px;
  padding-left: 15px;
  font-size: 14px;
}

.template .searchFilter input {
  background: none;
  border: none;
  outline: none;
}
.template .searchArea {
  display: flex;
  align-items: center;
  gap: 10px;
}
#searchtype {
  outline: none;
  border: none;
  background: black;
  color: white;
  border-radius: 21px;
  height: 34px;
  padding: 0 15px;
  margin-left: -12px;
}
.searchFilter.options img {
  margin-right: 20px;
}
.template .searchFilter.options input {
  width: 180px;
}
.template .calendar {
  display: flex;
  background: #dcdada;
  border: 1px solid #d3d3d3;
  border-radius: 21px;
  width: 130px;
  height: 42px;
  padding-left: 15px;
  padding-right: 10px;
  font-size: 14px;
}
.template .calendar select {
  border: none;
  height: 42px;
}
.template .template-content table {
  border-radius: 10px;
  margin-bottom: 0;
}
.template-content table thead th {
  position: sticky;
  background: #4e4e4e;
  padding: 40px 20px 15px;
  color: white;
}
.template-content table tbody tr td {
  padding: 20px;
  background: #dcdada;
  position: relative;
}

.template-content table tbody tr:hover {
  background: white;
}
.template-content table thead tr {
  text-align: left;
  white-space: nowrap;
}

.template .actions {
  width: 300px;
}
.template .actions button {
  width: 50px;
  height: 35px;
  border-radius: 5px;
  margin-right: 10px;
}
.template .actions .details-button {
  width: 130px;
}
.template .pagging-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}
.template .pagging-area .toolbar {
  display: flex;
  align-items: baseline;
  gap: 5px;
  color: #6f6d6d;
  font-size: 14px;
  margin-top: -15px;
}
.template .pagging-area .toolbar select {
  width: 70px;
  height: 35px;
  border-radius: 4px;
}
.paging-list {
  display: flex;
  align-items: baseline;
  gap: 5px;
}
.paging-count {
  display: flex;
  gap: 5px;
  padding: 0;
}
.paging-list li,
.leftaction,
.rightaction,
.leftaction-single,
.rightaction-single {
  width: 35px;
  height: 35px;

  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.paging-list li:hover {
  border: 1px solid #222222;
  border-radius: 50%;
  background: black;
  color: white;
}
.template .delete-icon .tooltip {
  width: 200px;
  display: block;
  height: 110px;
  padding: 15px;
  background: #ffffff;
  box-shadow: 0px 0px 12px #00000029;
  border: 1px solid #222222;
  border-radius: 5px;
  position: absolute;
  top: 62px;
  right: 20px;
  z-index: 999;
  opacity: 1;
}
.template .delete-icon .tooltip p {
  font-weight: bold;
}
.template .delete-icon .tooltip .tool-buttons {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  justify-content: center;
}
.template .delete-icon .tooltip .tool-buttons button {
  width: 70px;
  height: 30px;
  border-radius: 5px;
}
.template .delete-icon .tooltip .delete-button {
  background: black;
  color: white;
}
.template .delete-icon .tooltip .cancel-button {
  background: #dcdada;
}

.template.admin .filterArea {
  justify-content: end;
  margin-bottom: 10px;
}
.template.admin .template-content table {
  width: 100%;
}

.table-responsive {
  border-radius: 10px;
  /* box-shadow: #999 0 0 10px; */
  background: #dcdada;
  width: 100%;
  overflow: hidden;
}
.template-content table tbody tr:hover {
  background: transparent;
  cursor: pointer;
}

.template-modal .modal-content {
  background-color: #4e4e4e;
}

.template-modal .modal-details .head,
.bottom-head {
  display: flex;
  justify-content: space-between;
  color: #adadad;
  font-size: 22px;
  align-items: center;
}
.template-modal .modal-details .right-head {
  display: flex;
  align-items: center;
  gap: 5px;
}
.template-modal .modal-details .right-head img {
  height: 22px;
}
.template-modal .modal-details .right-head a {
  width: 85px;
  font-size: 12px;
  text-align: end;
  color: white;
}
.template-modal .modal-details .bottom-head .title {
  font-size: 28px;
  color: white;
  font-weight: 700;
}
.template-modal .modal-details .bottom-head .date {
  font-size: 12px;
  display: grid;
}
.template-modal .modal-details .bottom-head .date label {
  float: left;
  margin-bottom: 0;
  text-align: end;
}
.template-modal .modal-details .bottom-head .date span {
  color: white;
}
.template-modal .modal-details .details-section {
  background: white;
  padding: 20px 30px;
  border-radius: 10px;
}
.expanded .details-section {
  width: 435px;
}
.expanded .details-section #distribution {
  width: 130px;
  height: 33px;
  border-radius: 7px;
}
.template-modal .modal-details .template-details {
  display: grid;
  gap: 20px;
  font-size: 14px;
}

.template-modal .modal-details .modal-comment {
  padding: 0 20px;
  padding-bottom: 0;
  font-size: 14px;
  margin-top: 15px;
}
.template-modal .modal-details .modal-comment p {
  font-weight: 700;
}
.template-modal .modal-details .template-details th,
.template-modal .modal-details .template-details td {
  border-bottom: none;
  padding: 15px 25px;
}
.template-modal .modal-details .template-details td {
  background: #f3f3f3;
}
.template-modal .modal-details .template-details tbody {
  border-radius: 6px;
}
.template-modal .modal-details .template-details tr td:last-child {
  font-weight: bold;
  width: 150px;
}
.custom-header {
  display: flex;
  justify-content: end !important;
  cursor: pointer;
}
.template-modal.modal.show .modal-dialog {
  margin-top: 80px;
}
.modal-ask {
  text-align: center;
}
.modal-button.ask {
  justify-content: center;
}
.modal-button.ask button {
  width: 140px;
}
.template .template-type {
  font-size: 18px;
}
.template.run-simulation .actions {
  width: 470px;
}
.template.run-simulation .actions .btn-dark {
  width: 150px !important;
  margin-top: -5px;
}
.template.run-simulation .actions .btn-dark a {
  text-decoration: none;
  color: white;
}

.iteratioview {
  margin: 20px;
}
.simulation-info {
  margin: 50px 20px;
}
.simulation-info .head {
  display: flex;
  align-items: baseline;
  gap: 10px;
}
.simulation-info .head h3 {
  font-weight: 700;
  font-size: 32px;
}
.simulation-info .simulation-section .row {
  margin: 20px 0;
}
.simulation-info .simulation-section .template-modal {
  background: #adadad;
  padding: 20px;
  border-radius: 10px;
}
.simulation-info .template-modal .modal-details .head {
  color: #514f4f;
}
.simulation-info .template-modal .modal-details .bottom-head .title {
  color: #222222;
}
.simulation-info .modal-details {
  gap: 10px;
  padding: 20px;
}
.simulation-info .modal-header img {
  position: absolute;
  margin-top: 2%;
  margin-left: 27%;
}
.simulation-info .modal-comment {
  padding: 0 !important;
}
.simulation-info .modal-comment p {
  border: 1px solid black;
  border-radius: 7px;
  padding: 10px;
}
.simulation-info .modal-buttons {
  display: flex;
  gap: 20px;
  align-items: center;
}
.simulation-info .modal-buttons button {
  width: 175px;
  font-size: 14px;
  height: 45px;
}
.simulation-info .modal-buttons .create-template {
  border: none;
  text-decoration: underline;
}
.simulation-info .details-section .table tr td:last-child {
  padding: 5px 20px;
  vertical-align: middle;
}
.simulation-info .simulation-section .col-md-8 {
  background: #e9e9e9;
  border-radius: 10px;
}
.simulation-info .tab-section .react-tabs__tab-list {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}
.simulation-info .details-section .btn-group {
  width: 400px;
  /* position: relative; */
  top: -25px;
  border: 1px solid black;
  border-radius: 34px;
  background: #e9e9e9;
  box-shadow: 0px 3px 6px #00000029;
  margin-left: 32%;
}
.simulation-info .details-section .btn-group .btn {
  margin: 4px;
  font-size: 18px;
}
.simulation-info .details-section .btn-group .btn.active {
  border: none !important;
  background: black;
  color: white;
  border-radius: 29px;
  margin: 4px;
}
.compressed {
  width: 5% !important;
}
.compressed .modal-header img {
  margin-left: 0;
}

.expanded {
  display: block;
}
.simulation-info .col-sm-1.compressed .head,
.simulation-info .col-sm-1.compressed .bottom-head,
.simulation-info .col-sm-1.compressed .details-section {
  visibility: hidden;
}

.simulation-info .details-section .table tr td input {
  width: 130px;
  float: right;
  background: transparent;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  font-weight: bold;
}
.simulation-info .details-section .search-round {
  display: flex;
  border-radius: 14px;
  padding: 10px;
  width: fit-content;
  background-color: #adadad;
  gap: 20px;
  align-items: baseline;
}
.simulation-info .details-section .search-round .controls,
.round {
  display: flex;
  align-items: baseline;
  justify-content: left;
  width: max-content;
  background: white;
  border-radius: 10px;
  padding: 10px;
  gap: 10px;
}
.simulation-info .details-section .search-round .controls button,
.round button {
  height: 0;
  width: 0;
  border: none;
}
.simulation-info .details-section .search-round h3 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 0 !important;
}
.simulation-info .details-section .search-round .iteration {
  background: #d3d3d3;
  border-radius: 5px;
  color: #6f6d6d;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px;
}
.simulation-info .details-section .search-round .iteration select {
  width: 60px;
  height: 40px;
  background-color: white;
  border: 1px solid #adadad;
  border-radius: 5px;
}
.simulation-info .details-section .search-controls button {
  width: 140px;
  height: 60px;
  font-size: 16px;
  border-radius: 7px;
  color: white;
  background-color: black;
  border: none;
}
.simulation-info .details-section .search-round .previous,
.next {
  gap: 15px;
  display: flex;
}
.simulation-info .details-section .orderbook-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 30px;
  flex-wrap: wrap;
  gap: 20px;
}
.simulation-info .details-section .orderbook-header .right-buttons {
  display: flex;
  gap: 20px;
}
.simulation-info .details-section .orderbook-header .right-buttons .btn {
  width: fit-content;
  background-color: black;
  font-size: 14px;
}
.simulation-info .details-section .tab-section .row {
  width: 60%;
  margin-left: 20%;
}
.simulation-info .details-section .tab-section .row thead {
}
.simulation-info .details-section .tab-section .row th {
  padding: 30px;
}
.simulation-info .details-section .tab-section .row .sell th {
  background: #daf4e3;
  border-bottom: 2px solid #83bf96;
}
.simulation-info .details-section .tab-section .row .buy th {
  background: #f5e3df;
  border-bottom: 2px solid #a5403a;
}
.simulation-info .details-section .tab-section .row tbody td {
  padding: 10px 30px;
}
.simulation-info .details-section .tab-section .pagination {
  display: grid;
  justify-items: end;
  padding-right: 0;
}

.simulation-info .details-section .tab-section .rounds-para,
.iteration-para {
  font-weight: 600;
}

.ws,
.ns,
.stabilization-tab,
.simulation {
  display: grid;
  justify-items: center;
  gap: 30px;
  margin-top: 30px;
}
.ws .ws-table,
.ns-table,
.stabilization-table {
  width: 80%;
}
.ws .ws-table th,
.ns .ns-table th,
.stabilization-tab .stabilization-table th {
  padding: 30px;
  background: #d3d3d3;
}
.ws .ws-table td,
.ns .ns-table td,
.stabilization-tab .stabilization-table td {
  padding: 15px 30px;
}
.stabilization {
  display: flex;
  align-items: center;
  border: 1px solid #adadad;
  background: transparent
    linear-gradient(180deg, #ffffff 0%, #e9e9e9 53%, #ffffff 100%);
  width: fit-content;
  padding: 15px 20px;
  border-radius: 11px;
}
.stabilization p {
  margin-bottom: 0;
  font-weight: bold;
}
.stabilization ul {
  display: flex;
  gap: 50px;
  margin-bottom: 0;
}
.stabilization ul li {
  display: grid;
}
.stabilization ul li label {
  margin-bottom: 0;
  color: #6f6d6d;
}
.stabilization ul li span {
  font-weight: bold;
}

.simulation .react-tabs__tab-list {
  border-bottom: none;
  justify-content: center !important;
  gap: 10px;
}

.simulation .react-tabs__tab {
  border: 1px solid #adadad !important;
  border-radius: 20px;
  width: 180px;
  text-align: center;
  color: black;
}
.simulation .react-tabs__tab--selected {
  background: #464646 !important;
  color: white;
}
.simulation .react-tabs__tab--selected::after {
  border-bottom: none !important;
}
.simulation .simulation-table {
  text-align: center;
}
.simulation .simulation-table th {
  padding: 30px 0;
}
.simulation .simulation-table td {
  padding: 15px 0;
}
.simulation .simulation-table .with {
  background-color: #efefff;
}
.simulation .simulation-table .without {
  background-color: #ebf6ff;
}

.request-scenario h1 {
  display: inline-grid;
}
.request-scenario h1 span {
  font-size: 28px;
}
.ws-table .table th,
.ns-table .table th,
.simulation-table .table th,
.stabilization-table .table th {
  color: black;
  font-weight: bold;
  font-size: 18px;
}
.ws-table .table td,
.ns-table .table td,
.simulation-table .table td,
.stabilization-table .table td {
  background: white;
}
.simulation-table .table th {
  text-align: center;
}
.table-responsive .table {
  margin-bottom: 0;
}
#file {
  display: flex;
  gap: 20px;
  text-decoration: underline;
}
.checkbox {
  height: 20px;
  width: 20px;
}
.simulation-info.history .col-md-8 {
  padding-top: 20px;
}
.simulation-info.history .col-md-4 .bottom-head {
  gap: 14%;
}
.simulation-info.history .col-md-4 .bottom-head .simulation-time {
  color: black !important;
  font-size: 14px;
  display: flex;
  gap: 6%;
}
.simulation-info.history .col-md-4 .bottom-head label {
  width: max-content;
}
.simulation-info.history .col-md-4 .bottom-head span {
  font-weight: bold;
}
.modal-details .template-content table thead th {
  background: white;
  color: black;
}
.template.details .actions.execution {
  width: auto;
}

.simulation-info.compare .template-details {
  width: 50%;
  margin-left: 30%;
}
.simulation-info.compare .template-details .compare-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.simulation-info.compare .template-details .compare-header .title {
  font-size: 26px;
  font-weight: bold;
  margin-left: 28%;
}
.simulation-info.compare .template-details .compare-header .format {
  display: grid;
  justify-items: end;
}
.simulation-info.compare .template-details .compare-header .format p {
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 600;
}
.simulation-info.compare .template-details .compare-header .file-type {
  display: flex;
  gap: 20px;
  border-radius: 4px;
}
.simulation-info.compare .template-details .compare-header .file-type button {
  width: 100px;
  height: 40px;
  background: black;
  text-align: center;
  border: none;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.simulation-info.compare .template-content table thead th {
  color: #222222;
  background: #e9e9e9;
}
.simulation-info.compare .template-content table td {
  background: white;
}
.table .emptycell {
  background: #e9e9e9 !important;
  border-bottom: none;
  padding: 0 !important;
  vertical-align: middle;
  text-align: end !important;
  padding-right: 14px !important;
  font-size: 16px !important;
}
.compare .table .emptycell {
  background: white !important;
}

.iteratioview {
  margin: 20px;
}

.iterationbutton{
  position: absolute;
  right: 50px;
  top:200px;
  width: 100px;
  height: 30px;

}

.scrollbutton{
  width: 100px;
  height: 30px;
  margin:20px

}
.button-container {
  display: flex;
  justify-content: center;
}
.buttongrid {
  width: 50px;
  height: 30px;
  margin:10px;
  background: none;
}
.imggrid{
  width: 20px;
  height: 10px;
}
.userImage{
  width: 40px;
  height: 40px;
}

.template .dateFilter {
  display: flex;
  align-items: center;
  gap: 5px;
  background: #ffffff;
  border: 1px solid #d3d3d3;
  border-radius: 21px;
  width: 338px;
  height: 42px;
  padding-left: 15px;
  font-size: 14px;
}

.template .dateFilter input {
  background: none;
  border: none;
  outline: none;
  margin-left: 10px;
}
.template .searchArea {
  display: flex;
  align-items: center;
  gap: 10px;
}
.pagination {
  display: flex;
  float: right;
  margin: 24px 0px;
  list-style: none;
  outline: none;
    }
.pagination > .active > a{
  background-color: #000044 ;
  border-color:#00001F24 ;
  color: #fff;
}
.pagination > li > a{
  border: 1px solid #00001F24 ;
  padding: 0px 6px;
  outline: none;
  margin: 0px 4px;
  border-radius: 3px;
  cursor: pointer;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
  background-color: #000044 ;
  border-color: #00001F24;
  outline: none ;
  color: #ffff;

}
.pagination > li > a, .pagination > li > span{
  color: #2438a7;
  text-decoration:none;
}
.pagination_prev_btn{
  margin-bottom: 4px;
  width: 18px;
  height: 18px;
  margin-right: -8px;
}
.pagination_next_btn  {
margin-bottom: 4px;
width: 18px;
height: 18px;
/* margin: -4px; */
margin-right: -4px;
margin-left: -4px;
}
.pagination_row_div{
display: flex;
flex-direction: row;
margin: 24px 0px;
float: left;
}
.pagination_row_right_div{
  display: flex;
  flex-direction: row;
  margin: 0px 0px;
  float: right;
  }
.pagination_input_div{
color: var(--black);
font-family: 'ARIAL';
margin-left: 4px;
background: white;
display: flex;
flex-direction: row;
justify-content: space-between;
}
.pagination_select{
  border: 1px solid #707070;
  border-radius: 4px;
  opacity: 1;  
  margin: 15px;
width: 100%;
padding: 0px 10px;
height: 28px;
}
.pagination_title{
  font-family: Roboto;
  font-size: 12px;
  margin: 0;
  align-self: center;
  letter-spacing: 0px;
  color: #A09E9E;
  opacity: 1;
  }
.pagination_total{
font-family: Roboto;
font-size: 15px;
margin: 0;
margin-right:4;
align-self: center;
letter-spacing: 0px;
color: #000;
opacity: 1;
}
.buttercenter{
  margin-left: 40px;
  margin-bottom: 20px;
}