html,
body {
  padding: 0;
  margin: 0;
  background: #eee;
  font-family: "Gilroy" !important;
}
/* @font-face {
  font-family: Gilroy;
  src: url("../public/fonts/gilroy-regular-webfont.woff2");
} */
@font-face {
  font-family: Gilroy;
  src: url("../public/fonts/gilroy-medium-webfont.woff2");
}
/* @font-face {
  font-family: Gilroy;
  src: url("../public/fonts/gilroy-light-webfont.woff2");
} */

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

.container-fluid nav {
  padding: 30px 50px;
}
.login-form {
  height: 400px;
  background: #dcdada;
  border-radius: 10px;
  opacity: 1;
  width: 500px;
  padding: 50px 30px;
}
.login-form form {
  display: grid;
}
.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}
.login-form h1 {
  font-size: 34px;
}
.login-form input {
  background: transparent;
  height: 45px;
  border: 1px solid #222222;
  border-radius: 7px;
}
.login-form .checkbox {
  height: 14px;
  margin-top: 5px;
  font-size: 14px;
}
.login-form label {
  margin-top: 20px;
}
.login-form .signin-button {
  margin-top: 30px;
  color: white;
  background: black;
  font-size: 16px;
}
